POSTGRES_DB=content
POSTGRES_USER=content
POSTGRES_PASSWORD=content!@
TZ=Asia/Ho_Chi_Minh

DATASOURCE_DB_CORE_JDBC_URL=jdbc:postgresql://localhost:5432/content
DATASOURCE_DB_CORE_USERNAME=content
DATASOURCE_DB_CORE_PASSWORD=content1234